/* laptop/desktop */
 @media (max-width: 1199px){
}
/* laptop/desktop */
/* large device */
 @media (max-width: 991px){
     .navbar-nav{
         justify-content: center;
         flex-direction: row;
         margin-top: 20px;
    }
     .navbar-nav .nav-item .nav-link {
         padding: 12px 12px;
         font-size: 16px;
         background-color: rgba(64, 175, 204, 0.44);
    }
     .carousel-caption h1 {
         font-size: 48px;
         margin-top: 60px;
    }
     .carousel-caption p {
         font-size: 16px;
    }
     .btn-custom{
         padding: 10px 24px;
         font-size: 16px;
    }
     .btn-custom-reverse {
         padding: 10px 24px;
         font-size: 16px;
    }
     .ul.social-icon a{
         width: 27px;
         height: 27px;
         line-height: 27px;
    }
     ul.social-icon span{
         font-size: 15px;
    }
     .heading{
         font-size: 45px;
         padding-bottom: 40px;
    }
     .heading span {
         font-size: 80px;
    }
     .about-section p {
         font-size: 15px;
         margin-bottom: 20px;
    }
     .resume h5{
         font-size: 14px;
    }
    .resume p:hover{
         font-size: 13px;
         max-width: 269px;
    }
    .resume p{
         font-size: 13px;
         max-width: 269px;
    }
     .resume-box:hover .resume {
         background-repeat: no-repeat;
         background-size: contain;
    }
     .resume-box .resume h1 {
         font-size: 16px;
    }
     .resume-box:hover .resume h1 {
         color: #40afcc;
         font-size: 16px;
    }
     .work-section .btn {
         font-size: 15px;
         padding: 6px 14px;
    }
    .work-section .btn:hover{
         font-size: 15px;
         padding: 6px 14px;
    }
     .question-section h4 {
         font-size: 28px;
         padding: 0;
    }
     .question-section .modal-btn{
         font-size: 15px;
         padding: 2px 3px;
         margin-top: 0px;
    }
     .footer-section p {
         font-size: 14px;
    }
}
/* large device */
/* medium device*/
 @media (max-width: 767px){
     .carousel-caption h1 {
         font-size: 36px;
    }
     .carousel-caption p {
         font-size: 14px;
    }
     .btn-custom {
         padding: 10px 16px;
         font-size: 14px;
    }
     .btn-custom-reverse {
         padding: 10px 16px;
         font-size: 14px;
    }
     .heading span {
         font-size: 55px;
    }
.heading {
     font-size: 32px;
}
 .skill-heading {
     font-size: 20px;
}
}
@media (max-width: 575px){
    .btn-custom {
        padding: 6px 14px;
         font-size: 14px;
         margin-top: 10px;
    }
     .btn-custom-reverse {
         padding: 6px 14px;
         font-size: 14px;
         margin-top: 10px;
    }.carousel-caption h1 {
    font-size: 34px;
}.about-section p {
    font-size: 13px;
    margin-top: 20px;
    text-align: center;
}.navbar-nav .nav-item .nav-link {
    padding: 6px 9px;
    font-size: 14px;
}ul.social-icon a {
    width: 23px;
    height: 23px;
    line-height: 23px;
    font-size: 13px;
}.carousel-caption h1 {
    font-size: 28px;
}.carousel-caption p {
    font-size: 13px;
}.btn-custom {
    padding: 4px 8px;
    font-size: 12px;
    border-bottom-left-radius: 16px;
}.btn-custom-reverse{
    padding: 4px 8px;
    font-size: 12px;
    border-bottom-right-radius: 16px;
}ul.social-icon span {
    right: -40px;
}
ul.social-icon {
    position: fixed;
    right: 30px;
}.about-section {
    padding-top: 0px;
}.heading span {
    font-size: 48px;
}.heading {
    font-size: 28px;
}.skill-heading {
    font-size: 18px;
}.resume p {
    font-size: 12px;
    max-width: 304px;
}.resume p:hover {
    font-size: 12px;
    max-width: 304px;
}.resume-box:hover .resume {
    padding-left: 8px;
    padding-right: 8px;
}.resume-box .resume span {
    padding: 5px 8px;
    border-bottom-right-radius: 14px;
    font-size: 14px;
}.work-section .btn {
    font-size: 12px;
    padding: 6px 4px;
}.work-section .btn:hover{
    font-size: 12px;
    padding: 6px 4px;
}.question-section h4 {
    font-size: 20px;
}.question-section .modal-btn {
    font-size: 12px;
    padding: 2px 3px;
    width: 100%;
    border-bottom-right-radius: 14px;
}.question-section {
    margin-bottom: 40px;
}.in-touch-section .contact-form-row .btn-custom {
    padding: 6px 12px;
    margin-top: 16px;
    margin-bottom: 20px;
}.footer-section p {
    font-size: 12px;
}
}